external/src/**/* linguist-vendored
external/* linguist-vendored
external/**/* linguist-vendored
external/**/**/* linguist-vendored
external/**/**/**/* linguist-vendored
external/**/**/**/**/* linguist-vendored




